h1{color:white;background-color:purple;font-style:oblique;}
#f1{background-color:red;}
#f2{background-color:black;}
img{margin: 0;}
#b{color:white;background-color:black;font-style:oblique;}
a{text-decoration:none;}